* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 30vh;
    border-radius: 10px;
    background-color: white;
}

input {
    display: block;
    padding: 2px 5px;
    width: 200px;
}

p {
    text-align: center;
    font-size: 25px;
    width: 200px;
}

button {
    display: block;
    background-color: chartreuse;
    padding: 6px 5px;
    width: 200px;
    border: none;
}